// Warning: Do not put css here unless it is meant to be global
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;

// Update some of Bulma's component variables
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/elements/_all.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma/sass/components/_all.sass';

//layout
body,
html {
  height: 100%;
}

//flex-container and flex-item
.flex-container {
  display: flex;

  @for $perc from 1 through 100 {
    .flex-item-#{$perc} {
      flex-basis: calc(100% / (100 / #{$perc}));
    }
  }
}

//overwrite Bulma style
.input:focus,
.input.is-focused,
.input:active,
.input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active {
  border-color: $grey-lighter;
  box-shadow: none;
}
